*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.bundle
/vendor
Gemfile.lock
/captures
.idea/gradle.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/misc.xml
.idea/kotlinc.xml
.idea/inspectionProfiles/
app/app-production-release.apk
.idea/codeStyles/
.idea/caches/
.externalNativeBuild